tests/salesforce-project/salesforce-project/main/default/flows/Case_Priority_is_High.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>Daysinayear</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>365.25</numberValue>
        </value>
    </constants>
    <customErrors>
        <name>My_Custom_Error</name>
        <label>My Custom Error</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>{!My_Custom_Error}{!MyCustomError}</errorMessage>
            <fieldSelection>Account</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <formulas>
        <name>ShirtforceBirthdayStilltoCome</name>
        <dataType>Boolean</dataType>
        <expression>if(DAYOFYEAR(today()) &lt; 305, true, false)</expression>
    </formulas>
    <formulas>
        <name>TableRow</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;tr border=&quot;1&quot; style=&quot;border-collapse:collapse&quot;&gt;&apos;+
&apos;&lt;td&gt;&apos;+{!Loop_Users.Id}+&apos;&lt;/td&gt;&apos;+
&apos;&lt;td&gt;&apos;+{!Loop_Users.Name}+&apos;&lt;/td&gt;&apos;+
&apos;&lt;td&gt;&apos;+{!Loop_Users.Username}+&apos;&lt;/td&gt;&apos;+
&apos;&lt;td&gt;&apos;+TEXT({!Loop_Users.CreatedDate})+&apos;&lt;/td&gt;&apos;+
&apos;&lt;td&gt;&apos;+TEXT({!Loop_Users.LastLoginDate})+&apos;&lt;/td&gt;&apos;+
&apos;&lt;td&gt;&apos;+IF({!Loop_Users.IsActive},&apos;Active&apos;,&apos;Deactivated&apos;)+&apos;&lt;/td&gt;&apos;+
&apos;&lt;/tr&gt;&apos;</expression>
    </formulas>>
    <interviewLabel>Case Priority is High. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Priority is High.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>My_Custom_Error</targetReference>
        </connector>
        <flowName>Post_to_Chatter</flowName>
        <inputAssignments>
            <name>postTargetID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userMentionID</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <description>Whoop!</description>
        <name>MyCustomError</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;Whoop!&lt;/p&gt;</text>
    </textTemplates>
</Flow>
