tests/salesforce-project/salesforce-project/main/default/flows/Loop-Bug.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>X1_site</name>
        <label>+1 site</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>countSites</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Sites_opp</targetReference>
        </connector>
    </assignments>
    <description>calcul le temps moyen d&apos;entretien par Site</description>
    <environments>Default</environments>
    <formulas>
        <name>tempsMoyenEntretien</name>
        <dataType>Number</dataType>
        <expression>{!get_opportunity.Temps_d_intervention__c}/({!countSites})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>maintenancePlan_tempsMoyenEntretien {!$Flow.CurrentDateTime}</interviewLabel>
    <label>maintenancePlan_tempsMoyenEntretien</label>
    <loops>
        <name>loop_Sites_opp</name>
        <label>loop Sites opp</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>get_sites_opportunite</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>X1_site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_maintenace_plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_sites_opportunite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunite__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_sites_opportunite</name>
        <label>get sites opportunite</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Sites_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunite__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Site_opportunite__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_maintenace_plan</name>
        <label>update maintenance plan</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>temps_d_entretien_moyen_par_actif__c</field>
            <value>
                <elementReference>tempsMoyenEntretien</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_opportunity</targetReference>
        </connector>
        <object>MaintenancePlan</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countSites</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>workTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
